body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.done-container {
    width: 400px;
    height: 30vh;
    padding: 0 0 30px 0;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
    justify-content: flex-start;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    position: relative;
}

.form-group label {
    position: absolute;
    top: 20px;
    right: 5px;
    bottom: 5px;
    left: 20px;
}

.form-group input {
    flex-grow: 1;
    width: 70%;
    margin: 40px 25px 0px 0px;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0;
    font-size: 14px;
    padding-left: 30px;
    text-align: left;
}

.form-group:last-child input {
    margin-bottom: 10px;
}

.Back-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 22%;
    margin: 50px 20px -50px 20px;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom:12px;
    padding-left: 0px;
    padding-right: 0px;
}